.u-section-1 .u-sheet-1 {
  min-height: 715px;
}

.u-section-1 .u-group-1 {
  width: 394px;
  min-height: 659px;
  height: auto;
  margin: 56px auto 0 56px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 18px;
}

.u-section-1 .u-image-1 {
  width: 274px;
  height: 205px;
  margin: 28px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-1 .u-text-2 {
  margin: 332px 0 0 16px;
}

.u-section-1 .u-group-2 {
  width: 348px;
  min-height: 659px;
  height: auto;
  margin: -653px 84px -6px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  width: 358px;
  height: 240px;
  margin: 4px -10px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 4px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 18px;
}

.u-section-1 .u-text-4 {
  margin: 276px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -3px;
  }
}@font-face {
  font-family: 'gothampro';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/gothampro.ttf);
}